.Page {
  background-color: #9F2B68;
  position: absolute;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("./images/login-backgroung.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  height: 85%;
  width: 85%;
  display: flex;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.home-left {
  width: 65%;
  background-color: transparent;
}

.home-right {
  width: 45%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto auto 7%;
  padding-left: 5%;
  text-align: left;
}

/* .home-left img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
} */

/* Form Styling */

label {
  line-height: 2;
  text-align: left;
  display: block;
}

input {
  display: block;
  box-sizing: border-box;
  width: 70%;
  line-height: 1.5;
  margin-bottom: 3px;
  border-radius: 6px;
  height: 40px;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: blue;
  margin-bottom: 10px;
  font-size: 17px;
}

.forgot-password {
  margin-left: 35%;
}

.no-account {
  font-size: 16px;
}

.link-button {
  background-color: transparent;
  border: none;
  color: #9F2B68;
  font-size: 16px;
  text-decoration: underline;
}

/* Home page after login */
.Home {
  background-color: #2a4491;
  position: absolute;
  margin: 0px;
  height: 100%;
  width: 100%;
}